#test
#Test
.reviewboardrc
*log*
*Log*
.svn/
.metadata/
*.a
*.so
*.o
*.log
*.orig
.ropeproject
Debug*
Release*
debug*
release*
.metadata/
RemoteSystemsTempFiles/
SDK.log
build*
Publish

*.kdev4
DeepVisionParams.ini

# YouCompleteMe Relatives
.ycm_extra_conf.py
compile_commands.json
.color_coded

########### C ############
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# docs
doc

*vscode*

*cversion.h

tags
ctags

*.zip

__pycache__/